* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  background: linear-gradient(
    rgba(10, 10, 10, 0.61),
    rgba(206, 206, 123, 0.774)
  );
}
.todo-app {
  width: 100%;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  background-color: #fff;
  border-radius: 10px;
  max-width: 540px;
}
.todo-app h2 {
  color: #002765;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-style: oblique;
}
.todo-app h2 img {
  display: flex;
  width: 100px;
  margin-left: 10px;
}
.row {
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  justify-self: auto;
}
input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  background: transparent;
}
button {
  outline: none;
  padding: 16px 30px;
  color: #fff;
  font-size: 16px;
  border-radius: 40px;
}
ul li {
  font-size: 18px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  list-style: none;
  position: relative;
}
ul li::before {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 8px;
  content: none;
  background-image: url(https://icons.veryicon.com/png/o/miscellaneous/questionnaire-icon/unchecked-10.png);
}
ul li.checked {
  color: #1c1a1a;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(https://icons.veryicon.com/png/o/miscellaneous/wens/checked-3.png);
}
ul li span {
  position: absolute;
  right: 0;
  top: 10px;
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover {
  background: #edeef0;
}
